{% extends 'back-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Pictures{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Add Pictures</li>
                    </ol>
                </div>
                <h4 class="page-title">Add Pictures</h4>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-12">
        {# include 'includes/alerts.html' #}
        <div class="card">
            <div class="card-body">

                {% if request.user.is_authenticated %}
                    {% if request.user.client %}
                        {% if not listing.is_locked %}
                            <h3>Add Pictures</h3>

                            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                {{ formset.management_form }}
                                {% for form in formset %}
                                <div class="row">
                                    <div class="col-lg-3 mb-3">
                                        {{ form.name|as_crispy_field }}
                                    </div>
                                    <div class="col-lg-5 mb-3">
                                        {{ form.picture|as_crispy_field }}
                                    </div>
                                </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-success mt-2">Save</button>
                            </form>
                        {% else %}
                            Locked!
                        {% endif %}
                    {% else %}
                        <p style="font-size: medium;">
                            You do not have the permission to edit this property.
                        </p>
                    {% endif %}
                {% else %}
                    <p style="font-size: medium;">
                        You are not logged in. Would you like to <a href="{% url 'accounts:account-login' %}">login</a>?
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}