{% extends 'back-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit FAQs{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'faqs:all-faqs' %}">FAQs</a></li>
                        <li class="breadcrumb-item active">Edit FAQs</li>
                    </ol>
                </div>
                <h4 class="page-title">Edit FAQs</h4>
            </div>
        </div>
    </div>

    {% if request.user.is_superuser and request.user.is_staff %} 
        <div class="row">
            <div class="col-12">
                
                <div class="card align-items-center">
                    <div class="card-body">
                        {% include 'includes/alerts.html' %}
                        <h3>FAQs Edit Form</h3>

                        <form method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="mb-3">
                                        {{ form.question|as_crispy_field }}
                                    </div>
                                    <div class="mb-3">
                                        {{ form.answer|as_crispy_field }}
                                    </div>
                                    <div class="mb-3">
                                        {{ form.is_active|as_crispy_field }}
                                    </div>
                                </div>
                                                    
                            </div>
                            <div class="row">
                                <div class="mb-3">
                                <input type="submit" value="Save Changes" class="btn btn-success">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>You currently do not have access to this page. Please <a href="{% url 'contacts:contact-form' %}">contact us</a> for further assistance.</p>
    {% endif %}
{% endblock content %}