{% extends 'back-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Agent User Form{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>

                        <li class="breadcrumb-item active">Agent User Form</li>
                    </ol>
                </div>
                <h4 class="page-title">Agent User Form</h4>
            </div>
        </div>
    </div>
    
    <div class="row">
        {% if request.user.is_authenticated %}
            <div class="col-12">
                {% include 'includes/alerts.html' %}
                {% if request.user.is_organisor %}
                    {% if request.user.profile.agency %}
                        <div class="card">
                            <div class="card-body">
                                <h3>Agent User Form</h3>
                                <form method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
                                    <div class="row mb-2">
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                            {{ form|crispy }}
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="mb-3">
                                            <input type="submit" value="Create Agent" class="btn btn-success">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <h4>You must <a href="{% url 'agencies:agency-create' %}">update your agency</a> before you can register agents.</h4>
                    {% endif %}
                {% else %}
                    <p>You currently do not have access to this page. Please <a href="{% url 'contacts:contact-form' %}">contact us</a> for further assistance.</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock content %}