{% extends 'back-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Listing Add Form{% endblock title %}

{% block content %}
    
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'listings:listings-list' %}">Properties</a></li>
                        <li class="breadcrumb-item active">Add Property</li>
                    </ol>
                </div>
                <h4 class="page-title">Create Property</h4>
            </div>
        </div>
    </div>
  
    <div class="row">
        <div class="col-12">
            {% include 'includes/backend/terms-modal.html' %}
            
            {% include 'includes/alerts.html' %}
            
            {% if request.user.is_authenticated %}
                {% if request.user.is_client or request.user.is_organisor %}
                    {% if request.user.client %}
                        <div class="card">
                            <div class="card-body">
                                <form method="post" novalidate>{% csrf_token %}{{ form.media }}
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <div class="mb-3">
                                                {{ form.name|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                            <div class="mb-3">
                                                {{ form.category|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                            <div class="mb-3">
                                                {{ form.listing_type|as_crispy_field }}
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                            <div class="mb-3">
                                                {{ form.price|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                            <div class="mb-3">
                                                {{ form.price_status|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                            <div class="mb-3">
                                                {{ form.status|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <div class="mb-3">
                                                {{ form.address|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                            <div class="mb-3">
                                                {{ form.location|as_crispy_field }}
                                            </div>
                                        </div>                            
                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                            <div class="mb-3">
                                                {{ form.city|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <div class="mb-3">
                                                {{ form.state|as_crispy_field }}
                                            </div>
                                        </div>

                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                            <div class="mb-3">{{ form.length|as_crispy_field }}</div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                            <div class="mb-3">{{ form.breadth|as_crispy_field }}</div>
                                        </div>

                                         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                            <div class="mb-3">{{ form.encumbrances|as_crispy_field }}</div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                            <div class="mb-3">{{ form.encumbrance_description|as_crispy_field }}</div>
                                        </div>
                                       
                                                                
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <div class="mb-3">
                                                {{ form.description|as_crispy_field }}
                                            </div>
                                        </div>
                                    
                                    </div>

                                    <p>By submitting, you have read and agreed with our terms and conditions.</p>

                                    <input type="submit" value="Submit" class="btn btn-info">
                                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#scrollable-modal">
                                        Read Terms &amp; Conditions
                                    </button>
                                    
                                </form>
                                
                            </div>
                        </div>
                    {% else %}
                        <h4>You have not updated your profile. Kindly <a href="{% url 'clients:client-create' %}">update</a> your profile to be able to submit properties. </h4>
                    {% endif %}
                {% else %}
                    <h4>You are not eligible to submit properties with this account. <a href="{% url 'contacts:contact-form' %}"> Contact us</a> for more</h4>
                {% endif %}
            {% endif %}
        </div>
    </div>                        
{% endblock content %}