{% extends 'back-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Client Permission Update{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'clients:clients-list' %}">Clients</a></li>
                        <li class="breadcrumb-item active">Client Permission Update</li>
                    </ol>
                </div>
                <h4 class="page-title">Client Permission Update</h4>
            </div>
        </div>
    </div>
    
    <div class="row">
        {% if request.user.is_authenticated %}
            <div class="col-12">
                {% include 'includes/alerts.html' %}
            
                {% if request.user.is_superuser or request.user.is_staff %}
                    
                        <div class="card">
                            <div class="card-body">

                                <h3>Client Permission Update</h3>

                                <form method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
                                    <div class="row mb-2">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            {{ form|crispy }}
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="mb-3">
                                            <input type="submit" value="Save Changes" class="btn btn-sm btn-success">
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <p>You currently do not have access to this page. Please <a href="{% url 'contacts:contact-form' %}">contact us</a> for further assistance.</p>
                    {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock content %}