{% extends 'back-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{ agency.name }} Verification Status{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'agencies:agencies-list' %}">Agencies</a></li>
                        <li class="breadcrumb-item active">{{ agency.name }} Verification Status</li>
                    </ol>
                </div>
                <h4 class="page-title">{{ agency.name }} Verification Status</h4>
            </div>
        </div>
    </div>
    
    <div class="row">
        {% if request.user.is_authenticated %}
            <div class="col-12">
            
                {% include 'includes/alerts.html' %}
            
                {% if request.user.is_superuser or request.user.is_staff %}
                    
                    <div class="card">
                        <div class="card-body">
                            <h3>{{ agency.name }} Verification Status</h3>
                            <form method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
                                <div class="row mb-3">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                        <div class="mb-3">
                                            {{ form.status|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                        <div class="mb-3">
                                            {{ form.is_verified|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="row">
                                    <div class="mb-3">
                                    <input type="submit" value="Save Changes" class="btn btn-success">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <p>You currently do not have access to this page. Please <a href="{% url 'contacts:contact-form' %}">contact us</a> for further assistance.</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock content %}


<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                        <div class="mb-3">
                                            {{ user_form.middle_name|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                        <div class="mb-3">
                                            {{ user_form.last_name|as_crispy_field }}
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                        <div class="mb-3">
                                            {{ user_form.email|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                        <div class="mb-3">
                                            {{ user_form.phone_number|as_crispy_field }}
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                        <div class="mb-3">
                                            {{ agent_create_form.additional_phone_number|as_crispy_field }}
                                        </div>
                                    </div>
                                    
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                        <div class="mb-3">
                                            {{ agent_create_form.profile_picture|as_crispy_field }}
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                        <div class="mb-3">
                                            {{ agent_create_form.display_picture|as_crispy_field }}
                                        </div>
                                    </div>
                                    
                                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6">
                                        <div class="mb-3">
                                            {{ agent_create_form.about|as_crispy_field }}
                                        </div>
                                    </div>