{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} {{ agency.name }} {% endblock title %}

{% block content %}

	<div class="image-cover page-title">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					
					<h2 class="ipt-title">Agency Detail</h2>
					<span class="ipn-subtitle">{{ agency.name }}</span>
					
				</div>
			</div>
		</div>
	</div>

	<section class="agent-page p-0 gray-simple">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8">
					
					<div class="agency agency-list overlio-40">
					
						<div class="agency-avatar">
							<img src="{{ agency.logo.url }}" alt="">
						</div>
						
						<div class="agency-content">
							<div class="agency-name">
								<h4>{{ agency.name }}{% if agency.rc_number %}<span><sup>RC: {{ agency.registration_number }}</sup></span>{% endif %}</h4>
								<span><i class="lni-map-marker"></i>{{ agency.address }}, {{ agency.state }}</span>
							</div>
							
							<div class="agency-desc">
								<p>{{ agency.about | truncatewords:20 }}</p>
							</div>
							
							<div class="prt-detio">
								<span>{{ agency_listings.count }} Properties</span>
							</div>
							
							<ul class="social-icons">
								<li><a class="facebook" href="#"><i class="lni-facebook"></i></a></li>
								<li><a class="twitter" href="#"><i class="lni-twitter"></i></a></li>
								<li><a class="linkedin" href="#"><i class="lni-instagram"></i></a></li>
								<li><a class="linkedin" href="#"><i class="lni-linkedin"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						
					</div>
				</div>

				<div class="col-lg-4 col-md-4">
					
					<div class="agency agency-list overlio-40">
					
						<div class="agency-avatar">
							<img src="{{ agency.logo.url }}" alt="CEO" height="130px">
							<h4 style="text-center">{{ agency.profile.user.get_full_name }} <span>(CEO)</h4>
						</div>
			
						
						
					</div>
				</div>

			</div>
		</div>
	</section>

	
	{% if agency.about %}
	<section class="gray-simple">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="property_block_wrap style-2">
						<div class="property_block_wrap_header">
							<h4>About {{ agency.name }}</h4>
						</div>
						<div>
							<div class="block-body">
								{{ agency.about }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endif %}

	<section class="mt-1 mb-1">
		<div class="container">
			<h3>Location</h3>
			<div class="home-map-banner full-wrapious">
				<div class="hm-map-container fw-map">
					<div id="map">
						{{ map|safe }}
					</div>
				</div>				
			</div>
		</div>
	</section>


	<section class="gray">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="block-wrap">
						<div class="block-header ags">
							<h4 class="block-title">Agency Info</h4>
						</div>
						
						<div class="block-body">
							<ul class="dw-proprty-info">
								<li><strong>CEO</strong>{{ agency.profile.user.get_full_name }}</li>
								<li><strong>Email</strong>{{ agency.email }}</li>
								<li><strong>Phone</strong>{{ agency.phone_number }}</li>
								<li><strong>WhatsApp</strong>{{ agency.whatsapp_number }}</li>
								<li><strong>Address</strong>{{ agency.address }}</li>
								<li><strong>City</strong>{{ agency.city }}</li>
								<li><strong>State</strong>{{ agency.state }}</li>
								<li><strong>Established.</strong>2007</li>
							</ul>
						</div>
					</div>
					
					<div class="block-wraps">
						<div class="block-wraps-header">
						
							<div class="block-header">
								<ul class="nav nav-tabs customize-tab" id="myTab" role="tablist">
									<li class="nav-item" role="presentation">
										<a class="nav-link active" id="property-tab" data-bs-toggle="tab" href="#property" role="tab" aria-controls="property" aria-selected="false">Property</a>
									</li>
									<li class="nav-item" role="presentation">
										<a class="nav-link" id="agent-tab" data-bs-toggle="tab" href="#agent" role="tab" aria-controls="agent" aria-selected="true">Agents</a>
									</li>
									
								</ul>
							</div>
						
							<div class="block-body">
								<div class="tab-content" id="myTabContent">
									
									<div class="tab-pane fade show active" id="property" role="tabpanel" aria-labelledby="sale-tab">

										<div class="row">
											{% for listing in agency_listings %}
											<div class="col-lg-4 col-md-6 col-sm-12">
												<div class="single-items">
													<div class="property-listing shadow-none property-2 border">
												
														<div class="listing-img-wrapper">
															
															<div class="list-img-slide">									
																{% if listing.listingpicture_set.all %}
																<div class="click">
																	{% for pic in listing.listingpicture_set.all %}
																	<div>
																	<a href="{{ listing.get_absolute_url }}">
																		<img src="{{ pic.picture.url }}" class="img-fluid mx-auto" width="1200px" height="800" alt="" />
																	</a>
																	</div>
																	{% endfor %} 
																</div>
																{% else %}
																	<a href="{{ listing.get_absolute_url }}">
																		<img src="{% static 'assets/img/grid/no-image.jpg' %}" class="img-fluid mx-auto" alt="" /></a>
																	</a>
																{% endif %}
															</div>
															
														</div>
														
														<div class="listing-detail-wrapper">
															<div class="listing-short-detail">
																<div class="row">
																	<div class="col-6">
																		Category: <span class="badge badge-md bg-primary">{{ listing.category }}</span>
																	</div>
																	<div class="col-6">
																		Type: <span class="badge badge-md bg-info">{{ listing.listing_type }} </span>
																	</div>
																</div>

																<hr />
																
																<div class="listing-short-detail">
																	<h5 class="verified">
																		<a href="{{ listing.get_absolute_url }}" class="prt-link-detail">{{ listing.name }} </a>

																		{% if listing.status == 'sale' %}
																			<span class="prt-types sale">For {{ listing.status | title }}</span>
																		{% endif %}
																		{% if listing.status == 'rent' %}
																			<span class="prt-types rent">For {{ listing.status | title }}</span>
																		{% endif %}
																	</h5>
																</div>
																
																<div class="listing-short-detail-flex">
																	<h6 class="prt-price-fix">
																		&#8358;{% if listing.price < 1000000 %}
																			{{ listing.price|intcomma }}
																		{% else %}
																			{{ listing.price|intword }}
																		{% endif %}
																		{% if listing.status == 'rent' %}<sub>/year</sub>{% endif %}

																		<span class="badge badge-sm {% if listing.price_status == 'fixed' %} bg-danger {% else %} bg-success {% endif %}" style="color: whitesmoke;">
																			{{ listing.price_status|upper }}
																		</span>
																	</h6>
																</div>

															</div>
														</div>
														
														<div class="price-features-wrapper">
															<div class="list-fx-features">
																{% if listing.listingspecification_set.all %}
																	{% for s in listing.listingspecification_set.all %}
																		{% if s.attribute.name == 'Bedroom' %}
																			<div class="listing-card-info-icon">
																				<div class="inc-fleat-icon"><img src="{% static 'assets/img/bed.svg' %}" width="13" alt="" /></div>{{ s.value }} Beds
																			</div>
																		{% endif %}
																		{% if s.attribute.name == 'Bathroom' %}
																			<div class="listing-card-info-icon">
																				<div class="inc-fleat-icon"><img src="{% static 'assets/img/bathtub.svg' %}" width="13" alt="" /></div>{{ s.value }} Bath
																			</div>
																		{% endif %}
																	{% endfor %}
																{% endif %}
																<div class="listing-card-info-icon">
																	<div class="inc-fleat-icon"><img src="{% static 'assets/img/move.svg' %}" width="13" alt="" /></div>{{ listing.get_sqft }} sqft
																</div>
															</div>
														</div>
														
														<div class="listing-detail-footer">
															<div class="footer-first">
																<div class="foot-location"><img src="{% static 'assets/img/pin.svg' %}" width="18" alt="" />{{ listing.location }}, {{ listing.state }}.</div>
															</div>
															<div class="footer-flex">
																<a href="{{ listing.get_absolute_url }}" class="prt-view">View</a>
															</div>
														</div>
														
													</div>
												</div>
											</div>
											{% endfor %}

										</div>
										
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 text-center">
												<a href="#" class="btn btn-theme-light-2 rounded">Explore More Property</a>
											</div>
										</div>
										
									</div>
									
									<div class="tab-pane fade" id="agent" role="tabpanel" aria-labelledby="agent-tab">
										<div class="row">
											{% if agency_agents %}

												{% for agency_agent in agency_agents %}
													<div class="col-lg-4 col-md-6 col-sm-12">
														<div class="agents-grid">
															<div class="agents-grid-wrap">
																<div class="fr-grid-thumb">
																	<a href="freelancer-detail.html">
																		<img src="{% if agency_agent.display_picture %}{{ agency_agent.display_picture.url }}{% else %}{% static 'assets/img/agent/no-display-picture.png' %}{% endif %}" class="img-fluid mx-auto" alt="Agent" />
																	</a>
																</div>
																
																<div class="fr-grid-deatil">
																	<div class="fr-grid-deatil-flex">
																		<h5 class="fr-can-name"><a href="#">{{ agency_agent.user.get_full_name }}</a></h5>
																		<span class="agent-property">10 Properties</span>
																	</div>
																	<div class="fr-grid-deatil-flex-right">
																		<!--<div class="agent-email"><a href="#"><i class="ti-email"></i></a></div>-->
																	</div>
																</div>
															</div>
															<div class="fr-grid-info">
																<ul>
																	<li><strong>Call:</strong>+123 4567 8590</li>
																	
																	<!--<li>
																		<div class="fr-can-rating">
																			<i class="fas fa-star filled"></i>
																			<i class="fas fa-star filled"></i>
																			<i class="fas fa-star filled"></i>
																			<i class="fas fa-star filled"></i>
																			<i class="fas fa-star"></i>
																			<span class="reviews_text">(42 Reviews)</span>
																		</div>
																	</li>-->
																</ul>
															</div>
															
															<div class="fr-grid-footer">
																<div class="fr-grid-footer-flex">
																	<span class="fr-position"><i class="lni-map-marker"></i>Kano</span>
																</div>
																<div class="fr-grid-footer-flex-right">
																	<a href="#" class="prt-view" tabindex="0">View</a>
																</div>
															</div>
														</div>
													</div>
												{% endfor %}
											{% else %}
												No registered agents for this agency.
											{% endif %}
										</div>
										
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 text-center">
												<a href="#" class="btn btn-theme-light-2 rounded">Explore More Agents</a>
											</div>
										</div>
				
									</div>
									
									
									
								</div>
							</div>
						
						</div>
					</div>
					
				</div>
				
				<!-- property Sidebar -->
				<!--
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="details-sidebar">
						<div class="sides-widget">
							<div class="sides-widget-header">
								<div class="agent-photo"><img src="https://via.placeholder.com/400x400" alt=""></div>
								<div class="sides-widget-details">
									<h4><a href="#">Adam D. Okraar</a></h4>
									<span><i class="lni-phone-handset"></i>(91) 123 456 7895</span>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="sides-widget-body simple-form">
								<div class="form-group">
									<label>Email</label>
									<input type="text" class="form-control" placeholder="Your Email">
								</div>
								<div class="form-group">
									<label>Phone No.</label>
									<input type="text" class="form-control" placeholder="Your Phone">
								</div>
								<div class="form-group">
									<label>Description</label>
									<textarea class="form-control">I'm interested in this property.</textarea>
								</div>
								<button class="btn btn-black btn-md rounded full-width">Send Message</button>
							</div>
						</div>
						
						<div class="sidebar-widgets">	
							<h4>Featured Property</h4>
							<div class="sidebar_featured_property">
								<div class="sides_list_property">
									<div class="sides_list_property_thumb">
										<img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="">
									</div>
									<div class="sides_list_property_detail">
										<h4><a href="single-property-1.html">Loss vengel New Apartment</a></h4>
										<span><i class="ti-location-pin"></i>Sans Fransico</span>
										<div class="lists_property_price">
											<div class="lists_property_types">
												<div class="property_types_vlix sale">For Sale</div>
											</div>
											<div class="lists_property_price_value">
												<h4>$4,240</h4>
											</div>
										</div>
									</div>
								</div>

								<div class="sides_list_property">
									<div class="sides_list_property_thumb">
										<img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="">
									</div>
									<div class="sides_list_property_detail">
										<h4><a href="single-property-1.html">Montreal Quriqe Apartment</a></h4>
										<span><i class="ti-location-pin"></i>Liverpool, London</span>
										<div class="lists_property_price">
											<div class="lists_property_types">
												<div class="property_types_vlix">For Rent</div>
											</div>
											<div class="lists_property_price_value">
												<h4>$7,380</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="sides_list_property">
									<div class="sides_list_property_thumb">
										<img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="">
									</div>
									<div class="sides_list_property_detail">
										<h4><a href="single-property-1.html">Curmic Studio For Office</a></h4>
										<span><i class="ti-location-pin"></i>Montreal, Canada</span>
										<div class="lists_property_price">
											<div class="lists_property_types">
												<div class="property_types_vlix buy">For Buy</div>
											</div>
											<div class="lists_property_price_value">
												<h4>$8,730</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="sides_list_property">
									<div class="sides_list_property_thumb">
										<img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="">
									</div>
									<div class="sides_list_property_detail">
										<h4><a href="single-property-1.html">Montreal Quebec City</a></h4>
										<span><i class="ti-location-pin"></i>Sreek View, New York</span>
										<div class="lists_property_price">
											<div class="lists_property_types">
												<div class="property_types_vlix">For Rent</div>
											</div>
											<div class="lists_property_price_value">
												<h4>$6,240</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				-->
			
			</div>					
		</div>	
	</section>
{% endblock content %}